/* Global Styles */
:root {
  --primary-color: #e50914;
  --dark-color: #141414;
  --light-color: #f4f4f4;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Arial', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #000;
  color: #999;
}

ul {
  list-style: none;
}

h1,
h2,
h3,
h4 {
  color: #fff;
}

a {
  color: #fff;
  text-decoration: none;
}

p {
  margin: 0.5rem 0;
}

img {
  width: 100%;
}

/* Header */
.showcase {
  width: 100%;
  height: 93vh;
  background: url('../img/background.jpg') center/cover no-repeat;
  position: relative;
}

.showcase::after {
  content: '';
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  box-shadow: inset 120px 120px 250px 0px rgba(0, 0, 0, 1),
    inset -120px -120px 250px 0px rgba(0, 0, 0, 1);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.showcase-top {
  position: relative;
  z-index: 2;
  height: 90px;
}

.showcase-top img {
  width: 170px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.showcase-top a {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(-50%, -50%);
}

.showcase-content {
  position: relative;
  width: 65%;
  margin: auto;
  z-index: 2;
  text-align: center;
  margin-top: 9rem;
}

.showcase-content h1 {
  font-size: 4.5rem;
  margin-bottom: 2rem;
}

.showcase-content p {
  text-transform: uppercase;
  font-size: 1.7rem;
  color: #fff;
  margin-bottom: 2rem;
}

/* Tabs */
.tabs {
  background: var(--dark-color);
  border-bottom: 3px solid #3d3d3d;
}

.tabs .container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.tab-item {
  padding: 1.5rem 0;
}

.tab-item:hover {
  color: #fff;
  cursor: pointer;
}

.tab-item p {
  font-size: 1.2rem;
  margin-top: 1rem;
}

.tab-border {
  border-bottom: 4px solid var(--primary-color);
}

/* Tab Content */
.tab-content-item {
  color: #fff;
  padding: 3rem 0;
}

.tab-1-content-inner {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
}

.tab-2-content-top,
.tab-3-content-top {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 1rem;
  justify-content: center;
  align-items: center;
}

.tab-2-content-bottom {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
  text-align: center;
}

.table {
  width: 100%;
  margin-top: 2rem;
  text-align: center;
  border-collapse: collapse;
}

.table thead th {
  text-transform: uppercase;
  padding: 0.8rem;
}

.table tbody td {
  padding: 0.8rem 1.2rem;
  color: #999;
}

.table tbody td:first-child {
  text-align: left;
}

.table tbody tr:nth-child(odd) {
  background: #222;
}

/* Footer */
.footer {
  max-width: 60%;
  margin: 1rem auto;
}

.footer-cols {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2rem;
  margin-top: 1.5rem;
}

.footer-cols li a {
  color: #999;
  font-size: 0.9rem;
  line-height: 2;
}

/* Lang Select */
.lang-select {
  margin-top: 2rem;
}

.lang-select select {
  color: #999;
  background-color: #000;
  border: 1px solid #333;
  padding: 1rem 1.2rem;
  border-radius: 5px;
  font-size: 1rem;
}

/* Container */
.container {
  max-width: 70%;
  padding: 0 2rem;
  margin: auto;
}

/* Text Styles */
.text-xl {
  font-size: 2rem;
}

.text-lg {
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

.text-md {
  margin-bottom: 1.5rem;
  font-size: 1.2rem;
}

.text-center {
  text-align: center;
}

.text-dark {
  color: #999;
}

/* Buttons */
.btn {
  display: inline-block;
  background: var(--primary-color);
  color: #fff;
  padding: 0.4rem 1.3rem;
  font-size: 1rem;
  text-align: center;
  border: none;
  cursor: pointer;
  outline: none;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.45);
  border-radius: 2px;
}

.btn:hover {
  opacity: 0.9;
}

.btn-rounded {
  border-radius: 5px;
}

.btn-xl {
  font-size: 2rem;
  padding: 1.5rem 2.1rem;
  text-transform: uppercase;
}

.btn-lg {
  font-size: 1rem;
  padding: 0.8rem 1.3rem;
  text-transform: uppercase;
}

.btn-icon {
  margin-left: 1rem;
}
